:root {
  /* COLORES */
  --color-amarillo: #eac926;
  --color-azul: #03264c;
  --color-celeste: #1259c3;
  --color-grisOscuro: #666;
  --color-grisClaro: #ebebeb;
  --color-verde: #39b54a;

  /* FUENTES */

  --font-roboto: "Roboto", sans-serif;

  /*tamaño fuentes*/
  --paragraph: 12px;
  --title: 24px;
  --prices: 18px;
  --discounts-descriptions: 16px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: var(--font-roboto);
}

header {
  background-color: var(--color-amarillo);
  font-size: var(--paragraph);
  padding-bottom: 10px;
  height: fit-content;
}

header nav {
  display: none;
}

header .burger-menu {
  background-color: var(--color-celeste);
  padding: 7px;
  width: 18px;
  color: white;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

header input {
  width: 175px;
}

header .logo {
  width: 130px;
  margin-left: 25px;
  padding-top: 25px;
  margin-bottom: 10px;
}

header p {
  margin: 10px 0;
  text-align: center;
}

#top-list {
  margin: 0 0 15px;
}

.ml-15 {
  margin-left: 15px;
}

li {
  list-style: none;
}

/* footer */

footer{
    text-align: center;
    font-size: var(--paragraph);
    color: var(--color-azul);
    margin: 25px 45px;
}

footer h4 {
    font-size: var(--discounts-descriptions)
}

footer p {
    font-size: var(--paragraph);
    text-align: center;
}

.copy {
    text-align: left;
    font-size: var(--paragraph);
    color: var(--color-azul);
    margin: 0 0 15px 20px;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-celeste);
}

footer div {
    margin : 0 0 35px ;
}

/* footer */

/* main */

main{
    padding: 15px; 
    background-color: var(--color-grisClaro);
}

main section article {
    margin-bottom: 10px;
    text-align: start;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section h4 {
  font-size: var(--title);
  color: var(--color-grisOscuro);
  padding-bottom: 15px;
}

.conteiner-descrip {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  text-align: start;
  background-color: white;
}

.conteiner-descrip i {
  border: solid 0.5px var(--color-verde);
  padding: 10px;
  border-radius: 50%;
  color: var(--color-verde);
}

.conteiner-descrip .precio{
  font-size: var(--prices);
}

.conteiner-descrip .descuento {
  color: var(--color-verde);
  font-size: var(--discounts-descriptions);
}

.conteiner-descrip h5 {
  color: var(--color-grisOscuro);
  padding-top: 20px;
  font-size: var(--discounts-descriptions);
  display: none;
}

@media (min-width: 361px ) {
  /*tablets*/
  .conteiner-descrip h5 {
    display: block;
  }

  header nav {
    display: block;
  }

  header .burger-menu {
    display: none;
  }
}

@media (min-width: 769px ) {
  /*desktop*/
  .conteiner-descrip h5 {
    display: block;
  }

  header nav {
    display: block;
  }

  header .burger-menu {
    display: none;
  }
}
